!!!
%html
  %head
  %body
  .wrapper
    = render partial:'groups/notifications'
    = render partial:"groups/group-message"
    .chat__main
      .chat__main__header
        .chat__main__header__group.clearfix
        .chat__main__header__group--name
          = @group.name
          = link_to edit_group_path(@group) do
            .chat__main__header__group--edit
              エディット
        .chat__main__header__group--member
          = current_user.name
      .chat__main__body
        .chat__main__body__messages--list
          .chat__main__body__message.clearfix
            = render @messages
      .chat__main__footer
        .form
          = form_for [@group, @message] do |f|
            = f.text_field :content, class: 'form__message', placeholder: 'type a message'
            .form__mask
              = f.submit 'Send', class: 'form__submit'
            %label.fa.fa-image.icon-edit
              = f.file_field :image, class: 'hidden'

        / .chat__main__header__group--name
        /   = @group.name
        / = link_to edit_group_path(@group) do
        /   .chat__main__header__group--edit
        /     エディット
        / .chat__main__header__group--member
        /   = current_user.name
